<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="task">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Task</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="later">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Later</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="done">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Done</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>