<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;padding-top: 50px;">
    <div style="padding-top: 10px;"><img src="{{user.photoURL}}" alt="profile-picture" ></div>

    <h4>Username:</h4>
    <h5>{{user.displayName}}</h5>
    <h4>E-mail:</h4>
    <h5>{{user.email}}</h5>
    </div>
  

  <div style="text-align: center;padding-top: 20%;">
    <ion-button color="danger" (click)="signOut()">Sign Out</ion-button>
  </div>
  

</ion-content>
